.contents__main__middle__message-content
  .contents__main__middle__message-content__user-name
    = message.user.name
  .contents__main__middle__message-content__post-time
    = message.created_at.strftime("%Y/%m/%d %H:%M")
  .contents__main__middle__message-content__message
    = image_tag message.image
  .contents__main__middle__message-content__image
    = message.body

